-
    products = [
        {
            img: {
                src: 'img/main/product_1',
                width: 281,
                height: 194
            },
            title: 'MOON FAMILY 135',
            description: 'Диван прямой пантограф (тик-так)',
            characteristics: [
                'Обивка: велюр',
                'Спальное место: 140х200 см'
            ],
            price: 18000,
            oldPrice: 22000,
            state: -1,
            stock: -1
        },
        {
            img: {
                src: 'img/main/product_2',
                width: 281,
                height: 194
            },
            title: 'MOON FAMILY 145',
            description: 'Диван прямой пантограф (тик-так)',
            characteristics: [
                'Обивка: велюр',
                'Спальное место: 140х200 см'
            ],
            price: 19000,
            oldPrice: 0,
            state: 0,
            stock: 0
        },
        {
            img: {
                src: 'img/main/product_1',
                width: 281,
                height: 194
            },
            title: 'MOON FAMILY 155',
            description: 'Диван прямой пантограф (тик-так)',
            characteristics: [
                'Обивка: велюр',
                'Спальное место: 140х200 см'
            ],
            price: 20000,
            oldPrice: 0,
            state: 1,
            stock: 1
        },
        {
            img: {
                src: 'img/main/product_2',
                width: 281,
                height: 194
            },
            title: 'MOON FAMILY 165',
            description: 'Диван прямой пантограф (тик-так)',
            characteristics: [
                'Обивка: велюр',
                'Спальное место: 140х200 см'
            ],
            price: 22000,
            oldPrice: 0,
            state: 2,
            stock: -1
        },
        {
            img: {
                src: 'img/main/product_1',
                width: 281,
                height: 194
            },
            title: 'MOON FAMILY 175',
            description: 'Диван прямой пантограф (тик-так)',
            characteristics: [
                'Обивка: велюр',
                'Спальное место: 140х200 см'
            ],
            price: 25000,
            oldPrice: 0,
            state: 3,
            stock: -1
        },
        {
            img: {
                src: 'img/main/product_2',
                width: 281,
                height: 194
            },
            title: 'MOON FAMILY 185',
            description: 'Диван прямой пантограф (тик-так)',
            characteristics: [],
            price: 28000,
            oldPrice: 0,
            state: 4,
            stock: 2
        }
    ],
    productStates = [
        {
            text: 'В наличии',
            className: 'in'
        },
        {
            text: 'Нет в наличии',
            className: 'none'
        },
        {
            text: 'Под заказ',
            className: 'order'
        },
        {
            text: 'Много',
            className: 'lot'
        },
        {
            text: 'Мало',
            className: 'bit'
        }
    ],
    productStocks = [
        {
            text: 'Акция',
            className: 'action'
        },
        {
            text: 'New',
            className: 'new'
        },
        {
            text: '-15%',
            className: 'percentage'
        }
    ]