@at-root{
    $component: &;

    #{$component}{
        @include bp("sm", "up"){}
        @include bp("md", "up"){}
        @include bp("lg", "up"){}

        &--products{
            padding: 30px 0;
            background-color: get-color(grey-light);

            @include bp("sm", "up"){
                padding: 50px 0;
            }
            @include bp("md", "up"){
                padding: 60px 0;
            }
            @include bp("lg", "up"){
                padding: 105px 0 70px;
            }
        }
    }
}
