$colors: (
	black: #000000,
	grey-light: #F9F9F9,
	white: #FFFFFF,
	primary: #FF9E45,

	sectionTitle: #161616,

	productBorder: #E9E9E9,
	productContent: #383838,
	productOldPrice: #DDDDDD,
	productStockAction: #F54848,
	productStockNew: #00A1FA,
	productStockPercentage: #8C00FA,

	productState: #F8F8F8,
	productStateIn: #2BA44B,
	productStateNone:#F54848,
	productStateOrder: #0087C6,
	productStateLot: #9E00C6,
	productStateBit: #FFA336,
)