.container{
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 $container-gutter;

	@each $key, $breakpoint in $breakpoints{
		@if $key != default{
			@include container($breakpoint);
		}
	}
}